<div class = "mainForm">
  <h3>Список заказов</h3>

  <div class ="buttons">
    <button (click)="getAllOrders()">Все</button>
    <button (click)="getActiveOrders()">Текущие</button>
    <button (click)="getCompleteOrders()">Завершенные за период</button>
    <input name="date" [(ngModel)]="dateBegin" type="date">
    <input name="date" [(ngModel)]="dateEnd" type="date">
  </div>

  <table class="tableForm">
    <thead>
    <tr>
      <th>ИД</th>
      <th>Адрес назначения</th>
      <th>Адрес доставки</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let order of orders">
      <td>{{order.id}}</td>
      <td>{{order.addressFrom}}</td>
      <td>{{order.addressTo}}</td>
      <a [routerLink]="['/order-view', order.id]">Просмотр</a>
      <td><a class = "link" (click)="completeOrder(order)">Завершить заказ</a></td>
      <td><a class = "link" (click)="cancelOrder(order)">Отменить заказ</a></td>
      <td><a class = "link" (click)="deleteOrder(order)">Удалить</a></td>
    </tr>
    </tbody>
  </table>
</div>
