<div class="col-md-6">
  <h2>Заказы такси</h2>

  <table class="table table-striped">
    <thead>
    <tr>
      <th class="hidden">ИД</th>
      <th>Откуда</th>
      <th>Куда</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let order of orders">
      <td class="hidden">{{order.id}}</td>
      <td>{{order.addressFrom}}</td>
      <td>{{order.addressTo}}</td>
      <a mat-button [routerLink]="['./order-view', order.id]">Просмотр</a>
      <td><button class="btn btn-danger" (click)="deleteOrder(order)">Удалить</button></td>
    </tr>
    </tbody>
  </table>
</div>
