<div class = "mainForm">
  <h2>Информация о заказе</h2>
  <form>
    <div>
      <label>Адрес назначения: </label>
      <input [(ngModel)]="order.addressFrom" name="addressFrom" id="addressFrom">
    </div><br>

    <div>
      <label>Адрес доставки: </label>
      <input [(ngModel)]="order.addressTo" name="addressTo" id="addressTo">
    </div><br>

    <div>
      <label>Автомобиль: </label>
      <select id="car" name="car" [(ngModel)]="order.car">
        <option value="FORD">FORD</option>
        <option value="BMW">BMW</option>
        <option value="LADA">LADA</option>
      </select>
    </div><br>

    <div class = "divForm" *ngIf="done">
      <div>Заказ такси выполнен.</div>
      <div>К вам подъедет {{receivedOrder.car}} на адрес {{ receivedOrder.addressFrom }}</div>
    </div>
    <br>
    <button (click)="createOrder()">Заказать</button>
  </form>
</div>
