<div class="col-md-6">
  <h2 class="text-center">Информация о заказе</h2>
  <form>
    <div class="form-group">
      <label>Откуда:</label>
      <input [(ngModel)]="order.addressFrom" placeholder="Укажите адрес заказа такси" name="addressFrom" class="form-control" id="addressFrom">
    </div>

    <div class="form-group">
      <label>Куда:</label>
      <input [(ngModel)]="order.addressTo" placeholder="Укажите адрес доставки такси" name="addressTo" class="form-control" id="addressTo">
    </div>

    <button class="btn btn-success" (click)="createOrder()">Заказать</button>
  </form>
</div>
