<div class="col-md-6">
  <h2 class="text-center">Информация о заказе</h2>
  <form>
    <div class="form-group">
      <label>Адрес назначения: </label>
      <input [(ngModel)]="order.addressFrom" name="addressFrom" class="form-control" id="addressFrom">
    </div><br>

    <div class="form-group">
      <label>Адрес доставки: </label>
      <input [(ngModel)]="order.addressTo" name="addressTo" class="form-control" id="addressTo">
    </div>

    <div *ngIf="done">
      <div>Заказ такси выполнен.</div>
      <div>К вам подъедет  на адрес {{ receivedOrder.addressFrom }}</div>
    </div>
    <br>
    <button (click)="createOrder()">Заказать</button>
  </form>
</div>
